[submodule "monsters-rolodex"] 
  path = monsters-rolodex 
  url = https://github.com/Yuskhosmith/monsters-rolodex.git
[submodule "pure-react"] 
  path = pure-react 
  url = https://github.com/Yuskhosmith/pure-react.git
[submodule "react-complete-guide"] 
  path = react-complete-guide 
  url = https://github.com/Yuskhosmith/react-complete-guide.git
[submodule "styling-react-component"] 
  path = styling-react-component 
  url = https://github.com/Yuskhosmith/styling-react-component.git
[submodule "add-user-app"] 
  path = add-user-app 
  url = https://github.com/Yuskhosmith/add-user-app.git
[submodule "effects-reducers-context"] 
  path = effects-reducers-context 
  url = https://github.com/Yuskhosmith/effects-reducers-context.git
[submodule "food-ordering-app"] 
  path = food-ordering-app
  url = https://github.com/Yuskhosmith/food-ordering-app.git
	branch = master
